
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-start-rgb: 255, 255, 255;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: white;
  color: black;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover,
.button.hovered {
  background-color: #4CAF50; /* Màu xanh */
  color: white;
  transform: scale(1.1);
}
.fade-in-down {
  opacity: 0;
  transform: translateY(-50px);
}

.ant-dropdown > ul {
  padding: 20px !important;
}
.ant-dropdown-menu-title-content {
  padding-top: 5px !important;
  padding-bottom: 10px !important;
}

.fade-in-down.is-visible {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.5s ease, transform 0.5s ease;
}
.fade-in {
  opacity: 0;
}

.fade-in.is-visible {
  opacity: 1;
}



/*CustomSwiper Styles*/
.custom-next:after, .custom-prev:after {
  font-size: 14px !important;
  color: blue;
}
.swiper-container {
  position: relative;
}


.clipPath-Carousel {
 clip-path: ellipse(198vw 119% at 50% 211%);
}
.clipPath-Footer {
  clip-path: ellipse(220vw 100% at 50% 100%);
}
.clipPath-Header {
  clip-path: circle(150vw at 50% -118vw);
}
.clipPath-Footer-Equality-Page {
  clip-path: ellipse(118vw 100% at 50% 100%);
}




